.naslov{
  background-color: #ddd;
  width: 100%;

}

.naslov-div{
  display: flex;
  justify-content: center;
  width: 100%;
}

.korisnici-container {
  padding: 20px;
  margin-top: 18vh;
  margin-bottom: 4vh;
}

.korisnici-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.korisnici-table th, .korisnici-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.korisnici-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.admin-btn{
  color: white;
    background-color: #0098b3;
    border-radius: 50px;
    font-size:small;
    border: none;
    padding: 6px 10px;
}

.admin-btn:hover{
  background-color: #007a8a;
}

.select-role{
  border-radius: 50px;
  padding: 5px;

}

.option-role{
  border-radius: 50px;
}

.blocked-row {
  background-color: rgb(255, 85, 85);
  color: white; /* Ako želite da tekst bude čitljiv na crvenoj pozadini */
}

.ikona-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Pobrinite se da iskoristi punu visinu reda */
  border: none; /* Uklanja rubove ćelije */
  padding: 0; /* Uklanja dodatni razmak */
}

.ikona {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Okrugla pozadina */
  background-color: #dbd9d9; /* Siva pozadina */
  color: #0098b3; /* Tirkizna boja ikona */
  padding: 10px; /* Prostor unutar okrugle pozadine */
  width: 40px; /* Širina kruga */
  height: 40px; /* Visina kruga */
  font-size: 20px; /* Veličina ikona */
}
