body {
  background: linear-gradient(to right, #0098b3, #feb47b);
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.container{
  margin-top: 20vh;
  width: 65vw;
  margin-bottom: 6vh;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.working-hours h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.list-group-item {
  display: flex;
  justify-content:center;
  align-items: center;
}

.float-right {
  margin-left: auto;
}

.header{
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-pin-img {
    margin-right: 0.5em; /* Space between the pin and the text */
    object-fit: contain; /* Maintains aspect ratio and avoids cropping */
    color: #0098b3;
    font-size: 18px;
}


.live-stream {
  margin-top: 20px;
  text-align: center;
  border-radius: 30%;
}

.live-stream h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.paint-brush{
  border-radius: 50px;
}

.container.blurred {
  filter: blur(5px);
  pointer-events: none;
}

/* Chat popup styles */
.chat-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 80vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Open chat button */
.open-chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #0098b3;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.open-chat-btn:hover {
  background-color: #00758a;
}

/* Close chat button */
.close-chat-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f50f8e;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.close-chat-btn:hover {
  background-color: #e70e86;
}

.menza-card:hover{
  transform: none;

}
.ocjene{
  display: flex;
  justify-content:space-between;
  align-items: center;
}