.logo-img {
    height: 14vh;
    margin: 0;
}

/* Stil za navigacijske botune */
.nav-item .nav-btn {
    background: none;
    border: none;
    color: #333;
    font-weight: normal;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    margin: 0 20px;
}

.nav-item .nav-btn:hover {
    color: #0098b3;
    background: none;
}

.nav-btn-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Stil za pozadinu navbara */
.navbar-bg {
    background-color: white !important;
}

/* Navbar - fiksna pozicija i stil */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 16vh;
}

/* Kontejner za elemente unutar navbara */
.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo lijevo, ostatak desno */
    position: relative;
}

/* Centriranje logo-a */
.logo-img {
    margin-right: auto; /* Osigurava da logo ostane skroz lijevo */
}

.log-btn{
    color: white;
    background-color: #0098b3;
    border-radius: 50px;
    font-size: small;
}

.role-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: small;
}

.role-p{
    margin-bottom: 0;
    margin-right: 10px;
}


@media (max-width: 768px) {
    .nav-btn-container {
        display: flex; /* Ensure flexbox is applied */
        flex-wrap: nowrap; /* Prevent items from wrapping */
        flex-direction: row; /* Arrange items in a row */
        justify-content: center; /* Center the buttons horizontally */
        align-items: center; /* Align items vertically */
        gap: 10px; /* Add spacing between buttons */
    }

    .nav-item {
        flex: 0 1 auto; /* Allow items to shrink and maintain width */
        text-align: center; /* Align text centrally */
    }

    .nav-item .nav-btn {
        font-size: 0.8rem; /* Smaller font size for buttons */
        padding: 5px 10px; /* Adjust padding for smaller screens */
    }

    .navbar {
        padding: 5px; /* Adjust navbar padding for smaller screens */
        height: auto; /* Let navbar height adjust dynamically */
    }
}


