.menu-card {
  margin-top: 50px;
}

.menu-card:hover {
  /* Remove the enlarge effect */
  transform: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.add-item-button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-item-button:hover {
  background-color: #0056b3;
}

.remove-item-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 15px; /* Adjusted padding to match the add-item-button */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Add some space between the input and the button */
}

.remove-item-button:hover {
  background-color: #c82333;
}