.logo-img {
    height: 15vh;
}

.nav-item .nav-btn {
    background: none; /* Ukloni pozadinu */
    border: none; /* Ukloni okvir */
    color: #333; /* Postavi osnovnu boju teksta */
    font-weight: normal; /* Postavi običan tekst bez boldovanja */
    cursor: pointer; /* Prikaz kursora kao pointer */
    padding: 0; /* Ukloni padding */
    text-decoration: none; /* Ukloni podvlačenje teksta */
    margin: 0 10px; /* Dodaj horizontalni razmak između dugmadi */
}

.nav-item .nav-btn:hover {
    color: #0098b3; /* Promeni boju teksta na hover */
}

.nav-btn-container {
    display: flex;
    justify-content: center; /* Centriraj dugmad u okviru */
    gap: 20px; /* Razmak između dugmadi */
    width: 100%; /* Proširi na celu širinu navigacije */
    align-items: center; /* Vertikalno centriraj dugmad */
}
