.logo-img{
    height: 15vh;
}

.nav-item .nav-btn {
    background: none; /* Ukloni pozadinu */
    border: none; /* Ukloni okvir */
    color: #333; /* Postavi osnovnu boju teksta */
    font-weight: normal; /* Postavi običan tekst bez boldovanja */
    cursor: pointer; /* Prikaz kursora kao pointer, kao kod linka */
    padding: 0; /* Ukloni padding koji može izgledati kao link */
    text-decoration: none; /* Ukloni podvlačenje teksta */
    margin: 20px 0 20px 0;
  }
  
  .nav-item .nav-btn:hover {
    color: #0056b3; /* Promeni boju teksta na hover */
  }
  