@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: 'Quicksand', Arial, sans-serif;
}

body {
  background-image: url('/custom_pattern.svg');
  background-size: 200px 200px; /* Adjust the pattern size as needed */
  background-repeat: repeat;
}