.mt-4 {
  margin-top: 1.5rem !important;
}

.container{
  margin-top: 20vh;
  width: 65vw;
  margin-bottom: 6vh;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.working-hours h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.list-group-item {
  font-size: 1rem;
  color: #555;
}

.header{
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-pin-img {
    max-width: 1em; /* Limits the width to match the text size */
    max-height: 1em; /* Limits the height to match the text size */
    margin-right: 0.5em; /* Space between the pin and the text */
    object-fit: contain; /* Maintains aspect ratio and avoids cropping */
}
